dist: xenial
language: python
python:
  - '3.6'
  - '3.7'
install:
  - pip install ".[all]"
cache: pip

services:
  - docker

script:
  -  ./scripts/test.sh
  -  ./scripts/lint.sh
  -  ./scripts/build_site.sh
after_success:
  - codecov

deploy:
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: site
    on:
      branch: master
      python: '3.7'
  - provider: pypi
    user: $PYPI_USERNAME
    password: $PYPI_PASSWORD
    skip_existing: true
    distributions: sdist bdist_wheel
    on:
      tags: true
      python: '3.7'